<ion-content class="AboutMeTemplate">
  <ion-grid class="gradient-background">
    <ion-row>
      <ion-col class="img-avatar">
        <ion-avatar>
          <img src="./../../../../assets/Frame 1111112432.png" alt="">
        </ion-avatar>
      </ion-col>
    </ion-row>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <ion-row>
        <ion-col class="form-group">
          <ion-label class="required">First Name</ion-label>
          <ion-input formControlName="firstName" class="form-control"></ion-input>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
          <div *ngIf="profileForm.get('firstName')?.touched && profileForm.get('firstName')?.invalid" class="error validations">
            <span *ngIf="profileForm.get('firstName')?.errors?.['required']">First Name is Required.</span>
            <span *ngIf="profileForm.get('firstName')?.errors?.['minlength']">Minimum 3 characters Required.</span>
          </div>
        </ion-col>
      </ion-row>

      <!-- Last Name -->
      <ion-row>
        <ion-col class="form-group">
          <ion-label class="required">Last Name</ion-label>
          <ion-input formControlName="lastName" class="form-control"></ion-input>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
          <div *ngIf="profileForm.get('lastName')?.touched && profileForm.get('lastName')?.invalid" class="error validations">
            <span *ngIf="profileForm.get('lastName')?.errors?.['required']">Last Name is Required.</span>
            <span *ngIf="profileForm.get('lastName')?.errors?.['minlength']">Minimum 3 characters Required.</span>
          </div>
        </ion-col>
      </ion-row>

      <!-- Gender -->
      <ion-row class="ion-margin-bottom">
        <!-- Male Gender Button -->
         <div class="ion-wrap d-flex">
        <ion-col class="gender-col-button">
          <div (click)="selectGender('male')" 
               [ngClass]="{'active-male': selectedGender === 'male', 'inactive': selectedGender !== 'male'}"
               class="gender-button">
            <img src="./../../../../assets/image 394.png" alt="Male Icon" class="gender-icon">
            <ion-text>Male</ion-text>
          </div>
        </ion-col>
      
        <!-- Female Gender Button -->
        <ion-col class="female-col">
          <div (click)="selectGender('female')" 
               [ngClass]="{'active-female': selectedGender === 'female', 'inactive': selectedGender !== 'female'}"
               class="gender-button">
            <img src="assets/male-technologist-type-1-2_1f468-1f3fb-200d-1f4bb.png" alt="Female Icon" class="gender-icon">
            <ion-text>Female</ion-text>
          </div>
        </ion-col>
      </div>
      </ion-row>

      <!-- Email -->
      <ion-row >
        <ion-col class="form-group">
          <ion-label class="required">E-Mail</ion-label>
          <ion-input class="form-control" formControlName="email"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
          <div *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid" class="error validations">
            <span *ngIf="profileForm.get('email')?.errors?.['required']">
              Email is required.
            </span>
            <span *ngIf="profileForm.get('email')?.errors?.['email']">
              Invalid E-Mail Format.
            </span>
          </div>
        </ion-col>
      </ion-row>

      <!-- Phone Number -->
      <ion-row >
        <ion-col class="form-group">
          <ion-label class="required">Phone Number</ion-label>
          <ion-input class="form-control" formControlName="phoneNumber"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
          <div *ngIf="profileForm.get('phoneNumber')?.touched && profileForm.get('phoneNumber')?.invalid" class="error validations">
            <span *ngIf="profileForm.get('phoneNumber')?.errors?.['required']">
              Phone Number is required.
            </span>
            <span *ngIf="profileForm.get('phoneNumber')?.errors?.['pattern']">
              Invalid Phone Number Format.
            </span>
          </div>
        </ion-col>
      </ion-row>

      <!-- Location -->
      <ion-row >
        <ion-col class="form-group">
          <ion-label class="required">Location</ion-label>
          <ion-input class="form-control" formControlName="location"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
          <div *ngIf="profileForm.get('location')?.touched && profileForm.get('location')?.invalid" class="error validations" >
            <span *ngIf="profileForm.get('location')?.errors?.['required']">
              Location is Required.
            </span>
          </div>
        </ion-col>
      </ion-row>
      <!-- Job Titles -->
      <ion-row >
        <ion-col class="form-group">
          <ion-label class="required">Job Titles</ion-label>
          <ion-input class="form-control" formControlName="jobTitles"></ion-input>
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
          <div *ngIf="profileForm.get('jobTitles')?.touched && profileForm.get('jobTitles')?.invalid" class="error validations">
            <span *ngIf="profileForm.get('jobTitles')?.errors?.['required']">
              Job Title is Required.
            </span>
            <span *ngIf="profileForm.get('jobTitles')?.errors?.['minlength']">
              Job title must be a Minimum Length.
            </span>
            <span *ngIf="profileForm.get('jobTitles')?.errors?.['pattern']">
              Job title Contains Invalid Characters.
            </span>
          </div>
        </ion-col>
      </ion-row>

      <!-- Marital Status, Birth Date, and School Name (shown conditionally) -->
      <ion-row *ngIf="showInput1">
        <ion-col class="form-group" size="12">
          <ion-label class="required">Marital Status</ion-label>
          <ion-input class="form-control"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showInput2">
        <ion-col class="form-group" size="12">
          <ion-label class="required">Birth Date</ion-label>
          <ion-input class="form-control" formControlName="birthDate"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showInput3">
        <ion-col class="form-group" size="12">
          <ion-label class="required">Citizenship</ion-label>
          <ion-input class="form-control"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="about-me-row">
        <ion-col>
          <div class="ion-wrap d-flex">
            <ion-button class="aboutOutMe-Button" id="button-three" (click)="toggleSymbol(1)" [ngClass]="getButtonClass(1)">
              <img src="assets/Frame 1111112425.png" alt="" class="button-image" />
              <ion-text class="aboutOutMe-text">Marital Status</ion-text>
              <ion-icon name="close-outline" class="cross-symbol"></ion-icon>
            </ion-button>
        
            <ion-button class="aboutOutMe-Button" id="button-one"  (click)="toggleSymbol(2)" [ngClass]="getButtonClass(2)">
              <img src="./../../../../assets/Frame 1111112428.png" alt="" class="button-image" />
              <ion-text class="aboutOutMe-text">Birth Date</ion-text>
              <ion-icon name="close-outline" class="cross-symbol"></ion-icon>
            </ion-button>
            <ion-button class="aboutOutMe-Button" id="button-one"  (click)="toggleSymbol(3)" [ngClass]="getButtonClass(3)">
              <img src="./../../../../assets/Frame 1111112424.png" alt="" class="button-image" />
              <ion-text class="aboutOutMe-text">Citizenship</ion-text>
              <ion-icon name="close-outline" class="cross-symbol"></ion-icon>
            </ion-button>
           
          </div>
         </ion-col>
      </ion-row>
    </form>
    <button (onClick)="onSubmit()">submit</button>
  </ion-grid>
</ion-content>
