<!-- Input field to add a new language -->
<ion-item>
  <ion-label position="floating">Enter Language</ion-label>
  <ion-input [(ngModel)]="newLanguageName" placeholder="Type a language..."></ion-input>
  <ion-button (click)="addLanguage()" expand="block" fill="outline">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
</ion-item>

<!-- Language list with checkboxes -->
<div class="language-card" *ngFor="let language of languages; let i = index">
  <ion-row>
    <div>
      <ion-text class="language-name">
        {{ language.name }}
      </ion-text>
    </div>
  </ion-row>

  <ion-row class="language-options">
    <ion-col (click)="toggleOption(i, 'can read')" [ngClass]="{'active': language.selectedOptions.includes('can read')}" size="3">
      <div class="language-box">
        <ion-text>can read</ion-text>
      </div>
    </ion-col>
    <ion-col (click)="toggleOption(i, 'can write')" [ngClass]="{'active': language.selectedOptions.includes('can write')}" size="3">
      <div class="language-box">
        <ion-text>can write</ion-text>
      </div>
    </ion-col>
    <ion-col (click)="toggleOption(i, 'can speak')" [ngClass]="{'active': language.selectedOptions.includes('can speak')}" size="3">
      <div class="language-box">
        <ion-text>can speak</ion-text>
      </div>
    </ion-col>
  </ion-row>
</div>

<!-- Submit button for languages -->
<button (click)="submitLanguages()">Submit Languages</button>
