<ion-grid style="background: #EAF3F0;">
  <ion-row>
    <ion-col class="form-group">
      <ion-label class="required">Course Name</ion-label>
      <ion-input [(ngModel)]="certificate.course_name" name="course_name" class="form-control"></ion-input>
      <ion-text color="danger" *ngIf="courseNameInvalid">Course Name is required</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="form-group">
      <ion-label class="required">Organisation</ion-label>
      <ion-input [(ngModel)]="certificate.organisation" name="organisation" class="form-control"></ion-input>
      <ion-text color="danger" *ngIf="organisationInvalid">Organisation is required</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="form-group" size="5.5">
      <ion-label class="required">Start Date</ion-label>
      <ion-input [(ngModel)]="certificate.start_date" name="start_date" class="form-control"></ion-input>
      <ion-text color="danger" *ngIf="startDateInvalid">Start Date is required</ion-text>
    </ion-col>

    <ion-col class="form-group" size="5.5">
      <ion-label class="required">End Date</ion-label>
      <ion-input [(ngModel)]="certificate.end_date" name="end_date" class="form-control"></ion-input>
      <ion-text color="danger" *ngIf="endDateInvalid">End Date is required</ion-text>
    </ion-col>
  </ion-row>

  <ion-button (click)="addOrUpdateCertificate()">Add / Update Certificate</ion-button>

  <ion-row>
    <ion-col size="5">
      <ion-button (click)="addOrUpdateCertificate()">
        <ion-text>Add More Certificates</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
