<ion-content class="gradient-background">
  <ion-grid>
    <ion-row size="12">
      <ion-col>
        <div class="display-div">
          <form [formGroup]="copyform">
            <ion-textarea
              placeholder="Type here...."
              formControlName="summary"
              class="text-summary"
              auto-grow="true"
              (input)="updateCharCount()"
              (paste)="onPaste($event)"
              maxlength="400">
            </ion-textarea>
          </form>
        </div>
        <div *ngIf="validationCheck['summary'].errors?.['minlength']">
          Summary must be a minimum of 10 characters.
        </div>
        <div *ngIf="validationCheck['summary'].errors?.['maxlength']">
          Summary must be a maximum of 400 characters.
        </div>
        <div>
          <ion-text class="char-count">
            {{ charCount }}/400
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <div class="example-text">
      <ion-text class="examples-text">Examples</ion-text>
    </div>
    <ion-row>
      <ion-col size="12">
        <div class="examples-container">
          <ion-row *ngFor="let objective of summary; let i = index">
            <ion-col size="12">
              <div class="paragraph-Content" [ngClass]="{'highlight': clickedParagraphIndex === i}" (click)="copyTextToInput(objective.description, i)">
                <ion-text class="paragraph-text">
                  {{ objective.description }}
                </ion-text>
                <ion-text *ngIf="clickedParagraphIndex === i" class="copied-text">
                  Copied
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
