
<div *ngIf="showForgetPassword">
<ion-grid class="grid-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <ion-row class="header-row">
      <ion-col>
        <ion-text class="header-text">
          Forgot Password
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="info-row">
      <ion-col>
        <ion-text class="info-text">
          Please give your email address to recover your password
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="11">
        <ion-item class="input-container">
          <!-- Only the email input -->
          <ion-input formControlName="email" class="input-field" placeholder="Email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-button class="submit-button" type="submit" >
          <ion-text class="button-text">Send OTP</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
</div>
<div *ngIf="showVerificationEmail">
  <ion-grid class="grid-container">
  <ion-row class="header-row">
    <img src="assets/icon/Group 1000002366 (1).png" alt="Logo" class="header-logo">
    <ion-text class="header-text">PresumeLink</ion-text>
  </ion-row>

  <ion-row class="title-row">
    <ion-col>
      <ion-text class="title-text">Email Verification</ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="subtitle-row">
    <ion-col>
      <ion-text class="subtitle-text">Please enter the 5-digit code sent to your email</ion-text>
    </ion-col>
  </ion-row>

  <div class="otp-container">
    <ng-otp-input 
    [(ngModel)]="Emailotp"
    [config]="otpConfig" 
    (onInputChange)="onOtpChange($event)">
</ng-otp-input>

  </div>
  <ion-button (click)="verifyOtp()">Verify OTP</ion-button>
  

  <ion-row class="button-row">
    <ion-col size="12">
      <ion-button class="verify-button" (click)=" verifyOtp()">
        <ion-text class="button-text">Verify</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="resend-row">
    <ion-col>
      <ion-text class="resend-text">Didn’t receive any code? <i class="resend-link">Resend Again</i></ion-text>
    </ion-col>
  </ion-row>

  <ion-row class="code-request-row">
    <ion-col>
      <ion-text class="code-request-text">Request new code in <i class="time-remaining">00:30s</i></ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
</div>


<div class="showResetPassword">
  <ion-grid class="grid-container">
    <ion-row class="header-row">
      <img src="assets/icon/Group 1000002366 (1).png" alt="Logo" class="header-logo">
      <ion-text class="header-text">PresumeLink</ion-text>
    </ion-row>

    <ion-row class="title-row">
      <ion-col>
        <ion-text class="title-text">Reset Password</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="subtitle-row">
      <ion-col>
        <ion-text class="subtitle-text">Please enter your new password</ion-text>
      </ion-col>
    </ion-row>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <ion-row class="input-row">
        <ion-col size="11">
          <ion-item class="input-container">
            <ion-input formControlName="newPassword" type="password" class="input-field" placeholder="Password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="input-row">
        <ion-col size="11">
          <ion-item class="input-container">
            <ion-input formControlName="confirmPassword" type="password" class="input-field" placeholder="Confirm Password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="button-row">
        <ion-col size="10">
          <ion-button type="submit" [disabled]="resetPasswordForm.invalid" class="confirm-button">
            <ion-text class="button-text">Confirm Password</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</div>
