
.grid-container {
    margin: 0;
    background: linear-gradient(180deg, rgba(113, 189, 189, 0.90) 3.9%, rgba(5, 55, 80, 0.90) 100%);
    height: 760px;
  }
  
  .header-row {
    margin: 130px 0px 6px 31px;
  }
  
  .header-text {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
  }
  
  .info-row {
    margin: 20px 0px 20px 30px;
  }
  
  .info-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
  
  .input-container {
    display: flex;
    height: 52px;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #000;
    background: #FFF;
    margin-left: 30px;
  }
  
  .input-field {
    --border-radius: 10px;
  }
  
  .submit-button {
    --border-radius: 20px;
    width: 100%;
    height: 45px;
    --background: #E3F2F2;
    margin-left: 35px;
  }
  
  .button-text {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .grid-container {
    margin: 0;
    background: linear-gradient(180deg, rgba(113, 189, 189, 0.90) 3.9%, rgba(5, 55, 80, 0.90) 100%);
    height: 760px;
  }
  
  .header-row {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    width: 70px;
    height: 50px;
    flex-shrink: 0;
  }
  
  .header-text {
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 12px;
  }
  
  .title-row {
    margin: 50px 0 0 30px;
  }
  
  .title-text {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
  }
  
  .subtitle-row {
    margin: 15px 30px;
  }
  
  .subtitle-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
  }
  
  .otp-row {
    margin: 15px 30px;
  }
  
  .otp-col {
    display: flex;
    justify-content: center;
  }
  
  .otp-input {
    --border-color: #FFF;
    --border-radius: 10px;
    --padding-start: 16px;
    --padding-end: 16px;
    min-height: 56px;
  }
  
  .button-row {
    margin: 10px 35px;
  }
  
  .verify-button {
    --border-radius: 20px;
    width: 100%;
    height: 50px;
    --background: #E3F2F2;
  }
  
  .button-text {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .resend-row {
    margin: 10px 58px;
  }
  
  .resend-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .resend-link {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
  }
  
  .code-request-row {
    margin: 10px 107px;
  }
  
  .code-request-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .time-remaining {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
  }
  :host ::ng-deep .otp-input.ng-valid {
    width: 52px;
    border-radius: 8px;
    border: 1px solid #FFF;
    height: 62px;
    background: none;

  }