<ion-text class="component-text">
  Social
</ion-text>
<div>
  <ion-grid>
    <ion-row>
      <!-- LinkedIn Input -->
      <ion-col size="12">
        <div class="language-line">
          <h2>
            <span class="language-header-text">LinkedIn</span>
          </h2>
          <ion-input
            [(ngModel)]="linkedin"
            placeholder="Enter LinkedIn URL"
          ></ion-input>
        </div>
      </ion-col>

      <!-- Behance Input -->
      <ion-col size="12">
        <div class="language-line">
          <h2>
            <span class="language-header-text">Behance</span>
          </h2>
          <ion-input
            [(ngModel)]="behance"
            placeholder="Enter Behance URL"
          ></ion-input>
        </div>
      </ion-col>

      <!-- Dribbble Input -->
      <ion-col size="12">
        <div class="language-line">
          <h2>
            <span class="language-header-text">Dribble</span>
          </h2>
          <ion-input
            [(ngModel)]="dribble"
            placeholder="Enter Dribbble URL"
          ></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <!-- Dynamic Social Media Links -->
    <ion-row>
      <ion-col size="12" *ngFor="let link of addLinks">
        <div class="language-line">
          <h2>
            <span class="language-header-text">{{ link.platform }}</span>
          </h2>
          <ion-input
            [(ngModel)]="link.url"
            placeholder="Enter {{ link.platform }} URL"
          ></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <!-- Social Media Buttons -->
    <ion-row>
      <ion-col size="5" *ngFor="let social of socialMedia">
        <ion-button class="skillsButton" (click)="addLink(social)">
          <ion-text class="skills-text">Add {{ social }}</ion-text>
          <img
            src="assets/icon/Group 1000010372.png"
            alt="Delete Icon"
            style="margin-left: 90px; cursor: pointer;"
          />
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Submit Button -->
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="submitData()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  