<div >
  <ion-content style="height: 100vh;">
  <ion-grid class="resume-container">
    <ion-row style="margin: 10px 0px;">
      <ion-col>
        <img src="assets/icon/Menu.png" alt="">
        <ion-text class="text-hello">
          Hello..!
        </ion-text>
      </ion-col>
      <ion-col>
        <img src="assets/icon/alaram.png" alt="" style="float:inline-end;">
  
      </ion-col>
    </ion-row>
    <swiper-container>
      <swiper-slide>
        <ion-card class="custom-item">
          <ion-row>
            <ion-col size="2">
              <img src="assets/icon/Group (4).png" style="width: 30px;
                  margin-left: 14px;
                  margin-top: 24px;
              ">
              <img src="assets/icon/Group 1000010792.png" style="    width: 24px;
      margin-left: 24px;">
              <img src="assets/icon/5227103 3.png" style=" top: 94px;
                  position: absolute;
                  max-width: 100px;
                  left: 20px;
                  max-height: 100px;
              ">
            </ion-col>
            <ion-col size="8">
              <div class="text-container">
                <ion-text class="resume-text">PResumeLink</ion-text>
              </div>
              <div style="width: 231px;">
                <ion-text class="ion-text1">
                  We can create a perfect Resume and we will provide a Permanent Resume Link, it will give a permanent
                  solutions for jobseekers.
                </ion-text>
              </div>
              <div>
                <img src="assets/icon/Group 1000001988.png" alt="" class="resume-image">
                <img src="assets/icon/Group 1000010799.png" alt="" style="position: absolute;
                  left: 18px;
                  top: 100px;
              ">
              </div>
            </ion-col>
            <ion-col size="2">
  
              <img src="assets/icon/05_resume_template 2.png" style="margin: 10px 5px;
                  width: 30px;
              ">
              <img src="assets/icon/05_resume_template 3.png" style="margin: 0px 5px;
                  width: 35px;
              ">
              <img src="assets/icon/job_search 5.png" style="max-width: 81.579px;
                  height: 77.953px;
                  transform: rotate(1.901deg);
                  position: relative;
                  right: 55px;
                
              ">
            </ion-col>
          </ion-row>
        </ion-card>
  
  
      </swiper-slide>
    </swiper-container>
  
    <div style="margin: 10px 0px;">
      <img src="assets/icon/Group 1000002495.png" alt="" style="margin: 0px 170px;">
    </div>
  
    <ion-row>
      <div style="width: 340px;
    height: 50px;
    flex-shrink: 0;border-radius: 5px;
  background: #F28713;
  display: flex;
  margin-left: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);" >
        <ion-col size="1.5">
          <img src="assets/icon/Ellipse 1329.png" alt="" style="max-width: 40px;
          height: 40px;
          position: absolute;
          bottom: 17px;
          right: 10px;">
        </ion-col>
        <ion-col size="1.5">
          <div>
          <img src="assets/icon/10849212 1.png" style="    position: absolute;
          transform: rotate(-11.963deg);
          right: 14px;
          top: 7px;
      ">
          <img src="assets/icon/5377395 1.png" style="position: absolute;    transform: rotate(8.037deg);">
          <img src="assets/icon/Ellipse 1329.png" alt="" style="    max-width: 40px;
          height: 40px;
          top: 20px;
          position: absolute;
          left: 10px;
      
         ">
      </div>
    </ion-col >
      <ion-col size="7.5" style="align-content: center;" (click)="getStarted()">
        <img src="assets/icon/Vector (9).png" alt="" style="position: absolute;
      top: 13px;" >
         <ion-text class="create-text">
          Create Resume
        </ion-text>
        <img src="assets/icon/Ellipse 1329.png" alt="" style="max-width: 40px;
        height: 40px;
        position: absolute;
        right: 81px;
  
    " >
      </ion-col>
      <ion-col size="1.5">
        <img src="assets/icon/Ellipse 1329.png" alt="" style="    right: 0px;
        height: 50px;
        max-width: 50px;
        position: absolute;
        bottom: 10px;">
          <img src="assets/icon/Ellipse 1329.png" alt="" style="max-width: 35px;
          height: 35px;
          position: absolute;
          top: 20px;
      ">
      </ion-col>
      </div>
    </ion-row>
    
   
    <div style="background: linear-gradient(180deg, rgba(227, 242, 242, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%);
  box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.14);height: 270px;margin-top: 30px;padding-top: 10px;padding-left: 10px;">
    <ion-row>
      <ion-col><ion-text class="template-text">Resume Templates</ion-text></ion-col>
      <ion-col>
        <ion-text class="see-All-text"> see all</ion-text>
  
      </ion-col>
  
    </ion-row>
    <ion-row style="    overflow-x: auto;
      flex-wrap: nowrap;">
      <ion-col>
        <img src="assets/icon/flat-design-cv-template.png" alt="" class="resume-photo">
      </ion-col>
      <ion-col>
        <img src="assets/icon/minimalist-cv-template.png" alt="" class="resume-photo">
      </ion-col>
      <ion-col>
        <img src="assets/icon/minimalist-cv-template (1).png" alt=""  class="resume-photo">
      </ion-col>
    </ion-row>
  </div>
    <ion-row class="icon-row">
      <div class="light-div">
  
      </div>
      <ion-col class="icon-col">
        <img src="assets/icon/Group 1000002003.png" alt="" class="icon-image">
        <ion-text class="icon-text">
          Home
        </ion-text>
      </ion-col>
  
      <ion-col class="icon-col">
        <img src="assets/icon/Group 1000002005 (1).png" alt="" class="icon-image">
        <ion-text class="icon-text">
          Templates
        </ion-text>
      </ion-col>
  
      <ion-col class="icon-col">
        <img src="assets/icon/Group 1000002006 (2).png" alt="" class="icon-image ">
        <ion-text class="icon-text">
          Jobs
        </ion-text>
      </ion-col>
  
      <ion-col class="icon-col">
        <img src="assets/icon/Vector (10).png" alt="" class="icon-image">
        <ion-text class="icon-text">
          Settings
        </ion-text>
      </ion-col>
    </ion-row>
  
  </ion-grid>
  </ion-content>
  </div>
  