<!-- <ion-content style="height: 60vh; background-color:#E3f2f2 ;"> -->
  <ion-grid style="background: #E3f2f2;">

    <!-- Input for adding a new skill -->
    <ion-row>
      <ion-col class="form-group">
        <ion-label class="required">Enter Skills</ion-label>
        <ion-input [(ngModel)]="newSkill" placeholder="Type a skill..."></ion-input>
        <ion-button (click)="addSkill()" style="position: absolute; right: 4px;--background: transparent;--box-shadow: none;">
          <img src="assets/icon/Group 1000010372.png" alt="Add Skill Icon" (click)="addSkill()" >
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Display entered skills with delete functionality -->
    <ion-row>
      <ion-col *ngFor="let skill of enteredSkills" style="margin-right: 10px;">
        <ion-button class="skillsButton">
          <ion-text class="skills-text-1">{{ skill }}</ion-text>
          <img src="assets/icon/Group 1000010479.png" (click)="removeSkill(skill)" alt="Delete Icon" style="margin-left: 90px; cursor: pointer;">
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Suggested Skills Section -->
    <div style="margin: 40px 0px 15px 10px;">
      <ion-text class="skills-text">Suggested Skills</ion-text>
    </div>
    <ion-row>
      <ion-col *ngFor="let skill of suggestedSkills" size="auto">
        <ion-button class="customButton" fill="outline" (click)="addSuggestedSkill(skill)">
          <ion-text>{{ skill }}</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <button (click)="updateSkillsData()">
      skills
    </button> -->
  </ion-grid>
<!-- </ion-content> -->
