<ion-content style="height: 60vh;">
  <ion-grid style="background: #EAF3F0;">
    <ion-row>
      <ion-col class="form-group">
        <ion-label class="required">Enter Skills</ion-label>
        <ion-input type="text"><ion-icon name="add-circle" style="color: rgba(166, 166, 166, 1);float: inline-end;font-size: 30px;margin-top: 7px;"></ion-icon></ion-input>
      </ion-col>
    </ion-row>
  <ion-row style="border-radius: 6px;
         border: 0.5px solid var(--White, #FFF);height: 94px;
         flex-shrink: 0;">
    <ion-col size="6">
      <ion-button class="skillsButton">
        <ion-text class="skills-text">
          Wireframing<ion-icon name="close-circle" style="color:rgba(227, 242, 242, 1);font-size: 20px;"></ion-icon>
        </ion-text>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="skillsButton" style="display: flex;">
        <ion-text class="skills-text">
          UX Research
        </ion-text><ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <div style="margin: 40px 0px 15px 10px;">
  <ion-text class="skills-text">
    Suggested Skills
  </ion-text>
  </div>
  <ion-row>
    <ion-col *ngFor="let buttonText of buttonTexts" size=auto >
      <div>
      <ion-button fill="outline">
        <ion-text>{{ buttonText }}</ion-text>
      </ion-button> 
    </div>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>
  