<ion-content style="height: 60vh;--background: #e3f2f2;">
  <ion-grid>

    <!-- Input for adding a new skill -->
    <ion-row>
      <ion-col class="form-group">
        <ion-label class="required">Enter Skills</ion-label>
        <ion-input [(ngModel)]="enteredIntrest" placeholder="Type a skill..."></ion-input>
        <ion-button (click)="addIntrest()" style="position: absolute; right: 4px;">
          <img src="assets/icon/Group 1000010372.png" alt="Add Skill Icon" (click)="addIntrest()" >
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Display entered skills with delete functionality -->
    <ion-row>
      <ion-col  size="5" style="margin-right: 10px;">
        <ion-button class="skillsButton">
          <ion-text class="skills-text"></ion-text>
          <img src="assets/icon/Group 1000010479.png"  alt="Delete Icon" style="margin-left: 90px; cursor: pointer;">
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Suggested Skills Section -->
    <div style="margin: 40px 0px 15px 10px;--background: #e3f2f2;">
      <ion-text class="skills-text">Suggested Skills</ion-text>
    </div>
    <ion-row>
      <ion-col *ngFor="let skill of suggestedIntrest" size="auto">
        <ion-button class="customButton" fill="outline">
          <ion-text>{{ skill }}</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
    <button (click)="updateSkillsData()">
      skills
    </button>
  </ion-grid>
</ion-content>
