<ion-content style="height: 60vh;--background: #e3f2f2;">
  <ion-grid>

    <!-- Input for adding a new skill -->
    <ion-row>
      <ion-col class="form-group">
        <ion-label class="required">Enter interest</ion-label>
        <ion-input [(ngModel)]="newInterest" placeholder="Type an Interest..."></ion-input>
        <ion-button (click)="addInterest()" style="position: absolute; right: 4px;">
          <img src="assets/icon/Group 1000010372.png" alt="Add Skill Icon">
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Display entered interests with delete functionality -->
    <ion-row>
      <ion-col *ngFor="let interest of enteredInterest" size="5" style="margin-right: 10px;">
        <ion-button class="skillsButton">
          <ion-text class="skills-text">{{ interest }}</ion-text>
          <img src="assets/icon/Group 1000010479.png" (click)="removeInterest(interest)" alt="Delete Icon" style="margin-left: 90px; cursor: pointer;">
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Suggested Skills Section -->
    <div style="margin: 40px 0px 15px 10px;--background: #e3f2f2;">
      <ion-text class="skills-text">Suggested Skills</ion-text>
    </div>
    <ion-row>
      <ion-col *ngFor="let interest of suggestedInterest" size="auto">
        <ion-button class="customButton" fill="outline" (click)="addSuggestedInterest(interest)">
          <ion-text>{{ interest }}</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Button to trigger data update -->
    <button (click)="updateInterestData()">Update Interests</button>
  </ion-grid>
</ion-content>
