<ion-content style="height: 100vh;">
  <ion-grid >
    <ion-row >
      <ion-col  size="12">
        <div class="language-line"> 
          <h2>
            <span class="language-header-text">Hobbies</span>
          </h2>
          <ion-input></ion-input>
          <img src="assets/icon/Group 1000010326.png" alt="" class="plus-icon">
        </div>
      </ion-col>
    </ion-row>
  <ion-row style="border-radius: 10px;
  border: 0.5px solid #A6A6A6;margin: 8px 0px;height: 120px;
  ">
    <ion-col size="5" style="margin-right: 10px;">
      <ion-button class="skillsButton">
        <ion-text class="skills-text">
          Wireframing
        </ion-text>
        <img src="assets/icon/Group 1000010362.png" alt="" style="margin-left: 90px;">
  
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button class="skillsButton">
        <ion-text class="skills-text">
          UX Research
        </ion-text>
        <img src="assets/icon/Group 1000010362.png" alt="" style="margin-left: 90px;">
  
      </ion-button>
    </ion-col>
  </ion-row>
  <div style="margin: 40px 0px 15px 10px;">
  <ion-text style="color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  margin: 5px;
  font-weight: 500;
  line-height: normal;">
    Suggested Skills
  </ion-text>
  </div>
  <ion-row>
    <ion-col *ngFor="let buttonText of buttonTexts" size=auto >
      <div>
      <ion-button class="customButton" fill="outline">
        <img [src]="buttonText.img" alt="">
        <ion-text>{{ buttonText.name1 }}</ion-text>
      </ion-button> 
    </div>
    </ion-col>
  </ion-row>
  
  
  </ion-grid>
  </ion-content>
  